
*{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: black;
}
/*Header */
.Site-name{
    position: absolute;
    color: white;
    width: 150px;
    height: 72px;
    left: 10%;
    top: 24px;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
}
.header-nav{
    position: relative;
    display: flex;
    align-content: center;
    top: 24px;
    right: 5%;
    justify-content: flex-end;
    height: 10px ;
}
.header-link{
    color: white;
    top: 10px;
    width: 85px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}
.header-button{
    color: #3E86F5;
    background-color: white;
    border-radius: 20px;
    width: 85px;
    height: 36px;
}
/*Buner and title*/
.banner{
    position: relative;
    display: flex;
    z-index: -1;
    width: 100%;
    height: 1000px;
}

.Main-description{
    position: relative;
    display: flex;
    align-content: center;
    height: 190px;
    left: 10%;
    right: 10%;
    width: 80%;
    top: 25%;
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}
.Sub-description{
    position: absolute;
    display: flex;
    align-content: center;
    height: 190px;
    left: 10%;
    right: 10%;
    width: 80%;
    top: 50%;
    font-weight: 500;
    font-size: 24px;
    line-height: 200%;
    text-align: center;
    color: #FFFFFF;
}
.title-background-img{
    position: absolute;
    width: 100%;
    height: 108%;
}
/*chose*/
.chose_section{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    width: 279px;
    height: 50px;
    left: 5%;
    top: 0px;
    z-index: 1;
}
.choose_section_button{
    width: 35%;
    height: 80%;
    top: 10%;
    border-radius: 25px;
    color: #000000;
    background-color: #FFFFFF;
    border-color: white;
}

.flight_section{
    position: relative;
    display: flex;
    justify-content: space-around;;
    align-content: center;
    align-items: center;
    left: 5%;
    width: 90%;
    gap: 20px;
    background: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px 50px 50px 50px;
}

.choose_box{
    background-color: white;
    border: 2px solid #ACACAC80;
    display: grid;
    grid-template-columns: 35% 10% 35%;
    grid-template-rows: 40% 40%;
    justify-content: center;
    align-content: center;
    gap: 10px;
    border-radius: 25px;
    top: 10%;
    height: 100%;
}
.search_icon{
    height: 100px;
    width: 100px;
}

/*Propose*/
.proposes{
    top: 10px;
}
.propose_title{
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}
.chose_proposition_format{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    bottom: 20px;
}
.choose_button{
    width: 100px;
    height: 46px;
    left: 540px;
    top: 302px;
    background: white;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.proposes{
    display: flex;
    justify-content: space-around;
    position: relative;
    gap: 5%;
    left: 5%;
    width: 90%;
}
.image_data{
    display: flex;
    position: relative;
    gap: 15%;
}
.proposition{
    height: 40%;
    width: 50%;
    background: whitesmoke;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
}
.proposition_image{
    position: relative;
    width: 80%;
}
.date{
    top: 100%;
    position: absolute;
    left: 38%;
    transform: rotate(90deg);
    width: 100%;
}
/*Promo */
.Promo{
    top: 100px;
    display: flex;
    gap: 20px;
    height: 80%;
    width: 120%;
}
.image_and_comments{
    position: relative;
    width: 200%;
}
.promo_image{
    height: 100%;
    left: 5%;
    width: 100%;
}
.promo_title{
    width: 60%;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}
.promo_text{
    width: 60%;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
}
.Promo_button{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
/*recomandtion */
.Recomendation_title{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
}
.Recomendations{
    height: 200px;
    display: flex;
    justify-content: space-around;

}
.recomendation{
    height: 100%;
    width: 80%;
}
/*citation*/
.Citations{
    top: 300px;
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 1000px;
}
.Citation{
    background-color: wheat;
    position: relative;
    height: 60%;
    width: 40%;
    border-radius: 50px;
}
.Citation_img{
    position: absolute;
    width: 30%;
    height: 104px;
    left: 35%;
}
.citate_text{
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}
.Person_name{
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}
.Happy_Treloo{
    position: relative;
    left: 35%;
    width: 30%;
    color: #00000080;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}
.avatar{
    position: relative;
    width: 40%;
    left: 30%;
}
.avatar_reting{
    top: 10px;
    left: 160px;
    position: absolute;
    background-color: white;
    width: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    border-radius: 25px;
}
.star_icon{
    width: 15px;
    height: 15px;
}
.button_left_right{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/*foter */
.Final{
    position: relative;
    height: 500px;
}
.Final_background{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.Final_title{
    position: relative;
    top: 30%;
    width: 60%;
    left: 20%;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: white;
}
.Registration{
    position: relative;
    top: 30%;
    width: 20%;
    left: 40%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #3E86F5;
    background-color: #FFFFFF;
    border-radius: 25px;
}
.Foot{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.small_comment{
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    color: #00000080;
}
.bottom_header-nav{
    position: relative;
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    top: 20px;
    right: 10%;
    gap: 10px;
    width: 60%;
    align-content: center;
    justify-content: flex-end;
}